<% content_for :stylesheets do %>
  <%= stylesheet_link_tag 'admin/edit' %>
<% end %>
<% content_for :menu do %>
  <li class="menu_item active-menu"><%=link_to 'manage albums', admin_albums_path%></li>
  <li class="menu_item"><%= link_to "Back", admin_album_images_path(@album) %> </li>
<% end %>
  <%= link_to "< Cancel", admin_album_images_path(@album), :id => "return_link" %> </br>
  <%= form_for [@album], :url => {:controller => "albums", :action => "update_form"} , :method => "put" do |f| %>
  <%= f.label :title, "Dog Name" %>
  <%= f.text_field :title, :class => "input" %>
</br>
  <%= f.label :price, "Puppy Price" %>
  <%= f.text_field :price %> 
</br>
	<%= f.label :description, "Damsel Name" %>
	<%= f.text_field :description, :rows => 4, :class => "input" %>
</br>
  <%= image_tag @album.picture, :width => "200px" if @album.picture? %> </br>
  <%= f.label :picture, "Damsel Picture" %> </br>
	<%= f.file_field :picture, :class => "input" %>
</br>
  <%= f.label :dad, "Sire Name" %>
  <%= f.text_field :dad %> 
</br>
  <%= image_tag @album.dadpic, :width => "200px" if @album.dadpic? %>
  <%= f.label :dadpic, "Sire Picture" %> 
  <%= f.file_field :dadpic %>
</br> 
  <%= f.submit "Update" %>
<% end %>